html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 900px;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(45, 0, 26);
    color: rgb(255, 255, 255);
    flex-direction: column;
}

#game-panel #game-board {
    background-color: rgb(30, 2, 57);
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    border: .5vmin solid rgb(255, 255, 255);


}

.snake {
    background-color: rgb(254, 188, 65);
    border: .25vmin solid rgb(255, 255, 255);
}

.food {
    background-color: red;
    border: .25vmin solid rgb(255, 255, 255);
}

#game-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#game-panel #left-panel {
    background-color: rgb(87, 87, 87);
    color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr;
    border: .5vmin solid rgb(255, 255, 255);
    border-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.points {
    font-size: 30px;
    margin: 40px;
}

#accessibility {
    background-color: rgb(107, 107, 199);
    border: .25vmin solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 1vmin;
    margin: 2.5vmin;
    margin-bottom: 16px;
    align-items: center;
    text-align: center;
    min-width: 40vmin;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#accessibility h3:hover #snake {
    color: rgb(254, 188, 65);

}

#name-field {
    align-items: center;
}


#restart-btn,
#microphone-btn,
#submit-btn {
    border: .25vmin solid rgb(7, 190, 141);
    color: rgb(255, 255, 255);
    background-color: rgb(107, 107, 199);
    min-width: 20vmin;
    min-height: 5vmin;
    margin: 16px;
    margin-top: 8px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#restart-btn:hover {
    color: rgb(107, 107, 199);
    background-color: rgb(255, 255, 255);
    border: none;

}

#mic-result {
    color: rgb(255, 255, 255);
    width: auto;
    height: 4vh;
    align-items: center;
    margin: 12px;
    
}

#submit-text {
    font-size: 20px;
    color: rgb(107, 107, 199);
    background-color: white;
    border: none;
}

.arrow-keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: auto;
    margin: 0;

}

.arrow-key {
    width: 75px;
    height: 75px;
    font-size: 30px;
    border: .25vmin solid rgb(7, 190, 141);
    color: rgb(255, 255, 255);
    background-color: rgb(107, 107, 199);
    cursor: pointer;
    margin: 5px;
    text-align: center;
    align-self: center;

}

.active,
.arrow-key:hover,
#microphone-btn:hover,
#submit-btn:hover {
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(107, 107, 199);
}

#up {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#down {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#right {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}